@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #393e46;
  color: white;
}

img {
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}
